button {
    border-radius: 5px;
    border-style: none;
    padding: 5px 15px;
    margin: 10px 1px;
}

button:focus {
    outline: none;
}

.card-footer {
    margin-bottom: 1px;
}

.question {
    width: 50em;
}

.final-score {
    color: white;
}

.il-block {
    display: inline-block;
}

#start-page {
    width: 40em;
}

.wrong {
    background-color: #b51e2b;
}

.correct {
    background-color: #34ac0c;
}

#timer {
    color: white;
}

#start-page {
    width: 60em;
}

#user-chosen-name {
    background-color: rgb(216, 216, 216);
    border: 1px;
    border-radius: 10px;
    padding: 10px;
}

#user-chosen-name:focus {
    outline: none;
    background-color: rgb(192, 192, 192);
}

#high-scores {
    padding: 10px;
}

@media (max-width: 1025px) {
    #start-page {
        width: 40em;
    }
    .question {
        width: 43em;
    }
}

@media (max-width: 768px) {
    #start-page {
        width: fit-content;
    }
    #header {
        font-size: 40pt;
    }
    .question {
        width: fit-content;
    }
}

@media (max-width: 480px) {
    body {
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
        margin-left: 0;
    }
}

/* hide must load last to take priority over everything */
.hide {
    display: none !important;
}