body {
    padding: 15px 50px;
}

button {
    border-radius: 5px;
    border-style: none;
    padding: 5px 15px;
    margin: 10px 1px;
}

button:focus {
    outline: none;
}

h2.card-header {
    height: 5em;
}

.card-footer {
    margin-bottom: 1px;
}

.question {
    width: 50em;
}

.final-score {
    color: white;
}

.il-block {
    display: inline-block;
}

#start-page {
    width: 40em;
}

#notif {
    padding: 5px;
    margin-bottom: -16px;
    transform: translate(-15px);
    border-radius: 0 5px 5px 0;
}

.wrong {
    color: white;
    background-color: #e02e3d;
}

.correct {
    color: white;
    background-color: #34ac0c;
}

#timer {
    color: white;
}

#start-page {
    width: 60em;
}

#user-chosen-name {
    background-color: rgb(216, 216, 216);
    border: 1px;
    border-radius: 10px;
    padding: 10px;
}

#user-chosen-name:focus {
    outline: none;
    background-color: rgb(192, 192, 192);
}

#high-scores {
    padding: 10px;
}

@media (max-width: 1025px) {
    body {
        padding: 15px 45px;
    }
    #start-page {
        width: fit-content;
    }
    .question {
        width: 43em;
    }
}

@media (max-width: 768px) {
    body {
        padding: 15px 40px;
    }
    #start-page {
        width: fit-content;
    }
    #header {
        font-size: 40pt;
    }
    .question {
        width: 30em;
    }
}

@media (max-width: 480px) {
    body {
        padding: 15px;
    }
    .card-header {
        padding: 5px;
    }
    .question {
        width: fit-content;
    }
}

/* hide must load last to take priority over everything */
.hide {
    display: none !important;
}